extends layout

block content
    h1= title
    p Let me write here some additional stuff. Some text, that is UNIQUE for this page.
    | Thanks.
    br
    br
extends nav

script(src='./js/jquery-2.2.0.min.js')

