<!--calls layout.jade-->
<h1></h1>
<p>Youtube crawler with NodeJS. Shared rather for the source code only.</p>
<p>Contents of this site:</p>
<li>
  <p><a href="./domaintest">A "domaintest" page</a> that I created solely for testing, whether I could create a new page.
    <p>Currently acts as a route hub for requests.</p>
  </p>
</li>
<li>
  <p><a href="./ytapp">Click here.</a></p>
</li><br/>
<p>Recommended sites, just for the flavour:</p>
<li>
  <p><a href="http://stackoverflow.com">Stack Overflow</a> - words can't describe the amounf of help I get from here!
    <p></p>
    <p></p>
    <p></p>
  </p>
</li>