//
   Created by Katamori on 2016.02.16..




form
    #getrelated
        | YT link:
        input(type='text', id='vid_id', value="https://www.youtube.com/watch?v=cWqfyUYGCf8")
        br
        | Search in title:
        input(type='text', id='keyw', value="doom")
    #expand
        | Name of "current" video:
        p#currentvidname
    #getuservids
        input(type='text', id='userid', value="ttony33")
    #display_db
        | Number of rows:
        input(type='text', id='userid', value="Add a valid number.")
    br
    | Select task:
    select#task_options
        option(value='expand', selected='selected') Expand video database
        option(value='getuservids') Get videos of user - not implemented yet
        option(value='display_db') Display database
        option(value='autocomplete_db') Autocomplete video data (disabled)
        option(value='getrelated') Get related video (DEPRECATED)

//button Expand database
p#iteration
button(id="btn_list", onclick="SendLink(Callback_GetData)") Do task
p
p#datasetsize

p (FYI: the initial value in the first textbox is Armane's Doom 2 Holy Hell UV-Max)
#div1

script(src='./js/jquery-2.2.0.min.js')
script
    include ytapp/main.js
